apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs{{ item }}
spec:
  capacity:
    storage: {{ item }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: slow
  nfs:
    path: /var/nfs/{{ item }}
    server: {{ master_ip_address }}