---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs$LOWERNAME
spec:
  capacity:
    storage: $NAME
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: slow
  nfs:
    path: /data/$NAME
    server: {{ master_ip_address }}
---
